.text-container {
    display: inline-block; /* Make the container inline to fit the text width */
    white-space: nowrap; /* Prevent line breaks within the text */
    overflow: hidden; /* Hide overflow to clip the animation */
    width: 100%; /* Set a fixed width for the container */
  }

  .carousel-container {
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    background: #364d79;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .color-button {
    background-color: #4CAF50;  /* Green */
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .color-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .carousel-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .header-logo {
    object-fit: contain;
  }
  
  .layout-min-height {
    min-height: 100vh;
  }
  
  .content-style {
    padding: 24px;
    min-height: 280px;
  }
  
  .space-direction {
    width: 100%;
  }
  
  .flex-container {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .title-margin {
    margin-block-start: 36px;
  }
  
  .campaign-image {
    max-width: 100%;
  }